* {
    box-sizing: border-box;
}

/*--------- Beginning of Desktop CSS ----------- */

.container {
    background-color: #EEF9BF;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;
    color: #75b79e;
    text-transform: uppercase;
    margin-top: 40px;
}

.cards {
    width: 100%;
    padding: 48px 120px 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-shrink: 0;
}

.card {
    height: 146px;
    width: 117px;
    border:solid 1px #99cea8;
    border-radius: 5px;
    background-color: #A7e9af;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: clamp(17px,2%,100px);
    margin-bottom: 40px;
}

.cards img {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

/*--------- End of Desktop CSS ----------- */

/*--------- Beginning of Mobile CSS ----------- */

@media(max-width:600px){
    
    .title {
        font-size: 36px;
        padding: 0px 48px;
        text-align: center;
    }

    .cards {
    flex-direction: column;
    align-items: center;
    padding: 48px 0px 0px;
    }


}

/*--------- End of Mobile CSS ----------- */