* {
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}


/*--------- Beginning of Desktop CSS ----------- */

.container {
  background-color: #EEF9BF;
  min-height: 100vh;
  width: 100%;
  display: flex;
}

.game-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 300px);
}

.game-block .title {
  font-size: 56px;
  color: #75b79e;
  text-transform: uppercase;
  margin-top: 40px;
  text-align: center;
}

.cards {
  width: 100%;
  padding: 48px 40px 0px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-shrink: 0;
}

.cards li {
  width: 180px;
  height: 225px;
  position: relative;
  margin-right: clamp(10px,2%,100px);
  margin-bottom: 40px;
}

 .cards li div {
  width: 100%;
  height: 100%;
  border:solid 1px #99cea8;
  border-radius: 5px;
  background-color: #A7e9af;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  backface-visibility: hidden;
  transition: all 0.5s;
  transform-style: preserve-3d;
  box-sizing: border-box;
  cursor: pointer;
}

.cards img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.back-face {
  transform: rotateY(180deg);
}

.turned-up .back-face {
  transform: rotateY(0deg);
}

.turned-up .front-face {
    transform: rotateY(-180deg);
}

.ranking-bar {
  width: 305px;
  padding-left: 5px;
  border-left: solid 1px #99cea8;
  text-align: center;
}

.ranking-bar .title {
  font-size: 36px;
  color: #75b79e;
  text-transform: uppercase;
  margin-top: 60px;
}

.ranking-bar .sub-title {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.ranking-bar .sub-title span {
  font-size: 20px;
  color: #75b79e;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

.ranking-list {
  width: 100%;
  padding: 10px 0px;
  font-size: 13px;
  color: #75b79e;
  display: flex;
}

.ranking-list ul {
  width:50%;
  text-align: center;
}

.ranking-list li {
  margin-bottom: 30px;
}

.ranking-list li:first-child {
  font-size: 22px;
  margin-top: 12px;
}

.ranking-list li:nth-child(2) {
  font-size: 16px;
}


.clock {
  height: 35px;
  width: 80px;
  background-color: #333333;
  position: fixed;
  right: 10px;
  top: 0;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 20px;
}

/*--------- End of Desktop CSS ----------- */

/*--------- Beginning of Mobile CSS ----------- */

@media(max-width:730px) {

  .container {
    flex-direction: column;
  }

  .game-block,
  .ranking-bar {
    width: 100%;
  }
    
  .title {
    font-size: 36px;
    padding: 0px 48px;
    text-align: center;
  }

  .cards {
    flex-direction: column;
    align-items: center;
    padding: 48px 0px 0px;
  }

  .cards li {
    margin-right: 0px;
  }

  .clock {
    height: 80px;
    width: 40px;
    right: 0px;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5px;
  }

  .ranking-bar {
    width: 100%;
    padding-left: 0px;
    border-left: none;
  }
  
  .ranking-bar .title {
    margin-top: 10px;
  }
  
  .ranking-bar .sub-title {
    margin-top: 30px;
  }  
}



/*--------- End of Mobile CSS ----------- */